<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">My Account</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Account</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>

<!-- ----------------------------inner banner end---------------------------- -->
<!-- -------------------------my account start------------------------- -->
<section class="account_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 account_col_right my-3 my-md-3">
        <div class="acc_side_card card border-0">
          <div class="card-body p-0">
            <div class="acc_padding">
              <div class="media profile_media">
                <img class="mr-3 img-fluid" src="assets/img/profile.png" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold mb-0 hd_font"><small class="font-weight-light">Welcome back, </small>
                  </h5>
                  <h3 class="mb-0 hd_font font-weight-bold">Arun</h3>
                </div>
              </div>
              <h4 class="font-weight-bold hd_font under_line_hd my-3 my-md-4">Account Settings</h4>
            </div>
            <div class="account_card">
              <div class="list-group profile_list border-0">
                <a href="#" class="list-group-item list-group-item-action border-0 rounded-0 active">
                  Personal Information
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">My Orders</a>
                <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">Track My Order</a>
                <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">Address Book</a>
                <a class="list-group-item list-group-item-action border-0 rounded-0" (click)="logout()">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 account_col_left my-3 my-md-3">
        <div class="card_personal">
          <h4 class="hd_font font-weight-bold mb-4">Personal Information</h4>
          <form>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">First Name</label>
                  <input type="text" class="form-control ads_control">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">Last Name</label>
                  <input type="text" class="form-control ads_control">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">Email</label>
                  <input type="text" class="form-control ads_control">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">Mobile number</label>
                  <input type="text" class="form-control ads_control">
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ads_fom_controls text-md-right">
                <button type="button" class="btn btn_yellow_fm my-3 my-md-3 mr-2">Edit</button>
                <button type="button" class="btn btn_green_fm my-3 my-md-3">Save</button>
              </div>
            </div>
          </form>
        </div>
        <div class="card_order">
          <h4 class="hd_font font-weight-bold mb-4">My Orders</h4>
          <div class="acc_card card mb-3">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <div class="order_img_bg">
                    <img src="assets/img/product3.png" class="img-fluid" alt="order image">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="font-weight-bold mb-0">Almo Nature Daily Boosted Sale</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <h4 class="font-weight-bold text-danger">$178.00</h4>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="mb-0"><i class="fa fa-circle mr-2 gr_color" aria-hidden="true"></i>Delivered on Feb 18, 2022
                  </p>
                  <p class="mb-0"><small>Your item has been delivered</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="acc_card card mb-3">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <div class="order_img_bg">
                    <img src="assets/img/product3.png" class="img-fluid" alt="order image">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="font-weight-bold mb-0">Almo Nature Daily Boosted Sale</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <h4 class="font-weight-bold text-danger">$178.00</h4>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="mb-0"><i class="fa fa-circle mr-2 gr_color" aria-hidden="true"></i>Delivered on Feb 18, 2022
                  </p>
                  <p class="mb-0"><small>Your item has been delivered</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card_order_track">
          <h4 class="hd_font font-weight-bold mb-4">Track My Order</h4>
          <div class="acc_card card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 order_track_col">
                  <ul class="timeline">
                    <li class="timeline-item info">
                      <div class="ml-3">
                        <small class="text-muted">Mi., 12. März</small>
                        <h4>Hallentraining Aktive</h4>
                      </div>
                    </li>
                    <li class="timeline-item">
                      <div class="ml-3">
                        <small class="text-muted">Sa., 14. März</small>
                        <h4>Altpapiersammlung</h4>
                        <p>Helfer gesucht!</p>
                      </div>
                    </li>
                    <li class="timeline-item">
                      <div class="ml-3">
                        <small class="text-muted">So., 11. April</small>
                        <h4>LL-Spieltag Frauen in Böblingen</h4>
                        <p>Der Spieltag startet um 10 Uhr. Treffpunkt ist 8.30 Uhr. Helfer für Bewirtung gesucht.</p>
                      </div>
                    </li>
                    <li class="timeline-item warning">
                      <div class="ml-3">
                        <small class="text-muted">So., 25. Mai um 10 Uhr</small>
                        <p>LL-Spieltag Frauen in Grafenau</p>
                      </div>
                    </li>
                    <li class="timeline-item warning">
                      <div class="ml-3">
                        <small class="text-muted">Mi., 25 Juli</small>
                        <p>Abteilungssitzung</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card_Ads_book">
          <h4 class="hd_font font-weight-bold mb-4">Address Book</h4>
          <div class="acc_card card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 order_adress_col">
                  <div class="card border-0 mb-3">
                    <div class="card-body">
                      <button type="button" class="btn btn_yellow_fm my-3 my-md-3" data-toggle="modal"
                        data-target="#add-new-address">Add A New Address</button>
                    </div>
                  </div>
                  <div class="card mb-3 border-0">
                    <div class="card-body">
                      <h4 class="font-weight-bold">Arun Ram</h4>
                      <p class="mb-0">+91-123-456-7890</p>
                      <p class="w-75 text-secondary"><small>3rd floor,Triumph Tower, Seaport airport road,Kakkanadu,
                          Seaport-airport road, Ernakulam, Kerala - 682021</small></p>
                      <a href="" class="mr-2 gr_color font-weight-bold" data-toggle="modal"
                        data-target="#adress_edit"><i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i>
                        Edit</a>
                      <a href="" class="text-danger font-weight-bold"><i class="fa fa-trash-o mr-1"
                          aria-hidden="true"></i>Remove</a>
                    </div>
                  </div>
                  <div class="card mb-3 border-0">
                    <div class="card-body">
                      <h4 class="font-weight-bold">Akhil Ram</h4>
                      <p class="mb-0">+91-123-456-7890</p>
                      <p class="w-75 text-secondary"><small>3rd floor,Triumph Tower, Seaport airport road,Kakkanadu,
                          Seaport-airport road, Ernakulam, Kerala - 682021</small></p>
                      <a href="" class="mr-2 gr_color font-weight-bold" data-toggle="modal"
                        data-target="#adress_edit"><i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i>
                        Edit</a>
                      <a href="" class="text-danger font-weight-bold"><i class="fa fa-trash-o mr-1"
                          aria-hidden="true"></i>Remove</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
