<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">My Account</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Account</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>

<!-- ----------------------------inner banner end---------------------------- -->
<!-- -------------------------my account start------------------------- -->
<section class="account_bg">
  <div class="container">
    <div class="row" *ngIf="user$ | async as user">
      <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 account_col_right my-3 my-md-3">
        <div class="acc_side_card card border-0">
          <div class="card-body p-0">
            <div class="acc_padding">
              <div class="media profile_media">
                <img class="mr-3 img-fluid" src="assets/img/usr.png" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold mb-0 hd_font"><small class="font-weight-light">Welcome back, </small>
                  </h5>
                  <h3 class="mb-0 hd_font font-weight-bold">{{ user.first_name }}</h3>
                </div>
              </div>
              <h4 class="font-weight-bold hd_font under_line_hd my-3 my-md-4">Account Settings</h4>
            </div>
            <div class="account_card">
              <div class="list-group profile_list border-0">
                <a (click)="selection = 'personal'" class="list-group-item list-group-item-action border-0 rounded-0"
                  [ngClass]="{'active': selection === 'personal'}">
                  <i class="fa fa-user-circle-o mr-3" aria-hidden="true"></i> Personal Information
                </a>
                <a (click)="selection = 'order'"
                  class="list-group-item list-group-item-action border-0 rounded-0 cursor_hover"
                  [ngClass]="{'active': selection === 'order'}"><i class="fa fa-archive mr-3" aria-hidden="true"></i>My
                  Orders</a>
                <a (click)="selection = 'wishlist'"
                  class="list-group-item list-group-item-action border-0 rounded-0 cursor_hover"
                  [ngClass]="{'active': selection === 'wishlist'}"><i class="fa fa-archive mr-3" aria-hidden="true"></i>
                  Wish List</a>
                <a (click)="selection = 'address'"
                  class="list-group-item list-group-item-action border-0 rounded-0 cursor_hover"
                  [ngClass]="{'active': selection === 'address'}"><i class="fa fa-address-book-o mr-3"
                    aria-hidden="true"></i>Address
                  Book</a>
                <a (click)="logout()" class="list-group-item list-group-item-action border-0 rounded-0 cursor_hover">
                  <i class="fa fa-power-off mr-3" aria-hidden="true"></i>Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 account_col_left my-3 my-md-3" [ngSwitch]="selection">
        <div class="card_personal" *ngSwitchCase="'personal'">
          <h4 class="hd_font font-weight-bold mb-4">Personal Information</h4>
          <form [formGroup]="profileForm">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">First Name</label>
                  <input type="text" class="form-control ads_control" formControlName="first_name">
                </div>
              </div>
              <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">Last Name</label>
                  <input type="text" class="form-control ads_control" formControlName="last_name">
                </div>
              </div> -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">Email</label>
                  <input type="text" class="form-control ads_control" formControlName="email">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ads_fom_col">
                <div class="form-group">
                  <label class="font-weight-bold">Mobile number</label>
                  <input type="text" class="form-control ads_control" formControlName="mobile" maxlength=10
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ads_fom_controls text-md-right">
                <button type="button" class="btn btn_yellow_fm my-3 my-md-3 mr-2" (click)="toggle()">Edit</button>
                <button type="button" class="btn btn_green_fm my-3 my-md-3" (click)="save()">Save</button>
              </div>
            </div>
          </form>
        </div>
        <div class="card_order" *ngSwitchCase="'order'">
          <h4 class="hd_font font-weight-bold mb-4">My Orders</h4>
          <app-myorders (track)="toggleTrack($event)"></app-myorders>
          <!-- <div class="acc_card card mb-3">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <div class="order_img_bg">
                    <img src="assets/img/product3.png" class="img-fluid" alt="order image">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="font-weight-bold mb-0">Almo Nature Daily Boosted Sale</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <h4 class="font-weight-bold text-danger">$178.00</h4>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="mb-0"><i class="fa fa-circle mr-2 gr_color" aria-hidden="true"></i>Delivered on Feb 18, 2022
                  </p>
                  <p class="mb-0"><small>Your item has been delivered</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="acc_card card mb-3">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <div class="order_img_bg">
                    <img src="assets/img/product3.png" class="img-fluid" alt="order image">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="font-weight-bold mb-0">Almo Nature Daily Boosted Sale</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <h4 class="font-weight-bold text-danger">$178.00</h4>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 order_col text-center">
                  <p class="mb-0"><i class="fa fa-circle mr-2 gr_color" aria-hidden="true"></i>Delivered on Feb 18, 2022
                  </p>
                  <p class="mb-0"><small>Your item has been delivered</small></p>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <!-- <div class="card_order" *ngSwitchCase="'order'">
          <h4 class="hd_font font-weight-bold mb-4">Wish List</h4>
          <app-wishlist></app-wishlist>
        </div> -->

        <div class="card_order_track" *ngSwitchCase="'track'">
          <h4 class="hd_font font-weight-bold mb-4">Track My Order</h4>
          <div class="acc_card card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 order_track_col">
                  <ul class="timeline">

                    <li class="timeline-item" [ngClass]="{'info': orderTrack.payment.created_at}">
                      <div class="ml-3">
                        <h4>Processing</h4>
                        <p *ngIf="orderTrack.payment.created_at" class="text-secondary">
                          We have received your order on {{ orderTrack.payment.created_at | date: 'medium' }}.
                          <br> And it's being processing
                        </p>
                      </div>
                    </li>

                    <li class="timeline-item" [ngClass]="{'info': orderTrack.payment.dispatched_at}">
                      <div class="ml-3">
                        <h4>Shipped</h4>{{orderTrack.payment.dispatched_at}}
                        <p *ngIf="orderTrack.payment.dispatched_at" class="text-secondary">
                          Your order has been shipped on {{ orderTrack.payment.dispatched_at | date: 'medium' }}.
                          <br> We will notify you once your order is out for delivered.
                        </p>
                      </div>
                    </li>

                    <li class="timeline-item" [ngClass]="{'info': orderTrack.payment.outfordelivery_at}">
                      <div class="ml-3">
                        <h4>Out for delivery</h4>
                        <p *ngIf="orderTrack.payment.outfordelivery_at" class="text-secondary">
                          Your order is out for delivery on {{ orderTrack.payment.outfordelivery_at | date: 'medium' }}.
                          <br> We will notify you once your order is delivered.
                        </p>
                      </div>
                    </li>

                    <li class="timeline-item" [ngClass]="{'info': orderTrack.payment.delivered_at}">
                      <div class="ml-3">
                        <h4>Delivered</h4>
                        <p *ngIf="orderTrack.payment.delivered_at" class="text-secondary">
                          Your order has been delivered on {{ orderTrack.payment.delivered_at | date: 'medium' }}.
                          <br> We hope you enjoyed your order.
                        </p>
                      </div>
                    </li>

                  </ul>
                  <!-- <button type="button" class="btn btn_common my-3 my-md-3" data-toggle="modal" *ngIf="isReview"
                    data-target="#review-modal">Write a
                    review</button> -->
                  <!-- (click)="addreview()">Write a review</button> -->
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card_Ads_book" *ngSwitchCase="'address'">
          <h4 class="hd_font font-weight-bold mb-4">Address Book</h4>
          <app-address></app-address>
        </div>
      </div>
    </div>
  </div>
</section>
