<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Cancellation / Refund Policy</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Cancellation / Refund Policy</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!-- -------------------------Check out start------------------------- -->
<section class="account_bg">
  <div class="container">
    <div _ngcontent-ukr-c54="" class="row">
      <div _ngcontent-ukr-c54="" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3">
        <h4 _ngcontent-ukr-c54="" class="font-weight-bold">Cancellation by petpatrol.co.in</h4>
        <p _ngcontent-ukr-c54="">An order may be cancelled by us if your ordered products are unavailable. An order may
          also
          be cancelled if the security checks are failed; there are multiple reasons this can occur. Please contact us
          at
          the Contact page for further details. If an order is cancelled by us, you will be notified through call,
          email,
          and SMS. If an order is cancelled by us, we will initiate a refund. You will receive a full refund to the
          original
          payment method used for the cancelled items. </p>
        <h4 _ngcontent-ukr-c54="" class="font-weight-bold">Cancellation by you</h4>
        <p _ngcontent-ukr-c54="">An order may be cancelled by you within a limited time without incurring any charges.
          Information regarding cancellation will be described in the Order Confirmation email. In the Order
          Confirmation
          email, you may follow the provided instructions to be able to cancel your order. After the limited time for
          free
          cancellation, your order may be cancelled on a discretionary basis; you may contact us at the Contact page.
        </p>
        <h4 _ngcontent-ukr-c54="" class="font-weight-bold">Refund</h4>
        <p _ngcontent-ukr-c54="">If the payment method, which you used to make the payment (such as credit/ debit card)
          at
          the time of purchase, is no longer valid, refund will be issued through a demand draft.</p>
        <p _ngcontent-ukr-c54="">If we receive a payment failure notice from your bank, refund will be issued through a
          demand draft. </p>
        <p _ngcontent-ukr-c54="">For returned items, we may issue a refund if the item cannot be repaired or replaced.
          Refunds will be processed either to your bank account (via National Electronic Funds Transfer (NEFT) or
          Immediate
          Payment Services (IMPS)).Refunds cannot be processed to third-party accounts.</p>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------Check out end------------------------- -->
