<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Careers</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Careers</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!-- -------------------------Career start------------------------- -->

<section class="account_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 checkout_col_left my-3 my-md-3">
        <div class="card_personal">
          <h4 class="hd_font font-weight-bold">Work With us</h4>
          <p class="mb-5 gr_color font-weight-bold">We offer quick &amp; easy services for cats and dogs</p>
          <form [formGroup]="careerForm">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 checkout_fom_col my-3 my-md-3">
                <div class="form-group">
                  <label class="font-weight-bold">First Name *</label>
                  <input type="text" class="form-control" formControlName="first_name">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 checkout_fom_col my-3 my-md-3">
                <div class="form-group">
                  <label class="font-weight-bold">Last Name *</label>
                  <input type="text" class="form-control" formControlName="last_name">
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 checkout_fom_col my-3 my-md-3">
                <div class="form-group">
                  <label class="font-weight-bold">Email address</label>
                  <input type="text" class="form-control" formControlName="mail">
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 checkout_fom_col my-3 my-md-3">
                <div class="form-group">
                  <label class="font-weight-bold">Phone</label>
                  <input type="text" class="form-control" formControlName="phone">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 checkout_fom_col my-3 my-md-3">
                <div class="form-group">
                  <label class="font-weight-bold">Upload Resume</label>
                  <input type="file" formControlName="file" class="form-control" #fileInput
                    (change)="onFileSelect(fileInput)">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 checkout_fom_col my-3 my-md-3">
                <button type="submit" class="btn btn_yellow_fm my-3 my-md-3 hd_font font-weight-bold"
                  (click)="Submit(careerForm)">Submit</button>
              </div>

            </div>
          </form>
        </div>

      </div>
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 checkout_col_right my-3 my-md-3">
        <div class="card border-0 post_card">
          <div class="card-body">
            <img src="assets/img/poster.png" class="img-fluid" alt="post">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------Career end------------------------- -->
