<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">About Us</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">About</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image" />
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape" />
</section>

<!-- ----------------------------inner banner end---------------------------- -->
<!-- ----------------------------about  start---------------------------- -->
<section class="about_bg">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-3 my-md-3 pl-md-0">
        <img src="assets/img/about.png" class="img-fluid" alt="about image" />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-3 my-md-3">
        <div class="card about_card border-0">
          <h3 class="hd_font cm_hd font-weight-bold mb-5">
            Welcome To PetPatrol
          </h3>
          <p>
            The New Sanros Ayurvedic Pvt Ltd is a 100% Natural & Herbal brand
            from Calix Herbal Ltd, certified manufacturer by WHO (World Health
            Organization)-GMP (Good Manufacturing Practice).
          </p>
          <p>
            It comes in two segments- beauty care and Petlife segment. The
            products are purely ayurvedic which are developed in Calix Herbal
            owned farm house in Roorkhee, Uttarakhand with well-equipped and
            automatic techniques with the help of innovative R & D team.
          </p>
          <p class="font-weight-bold ">
            Our Major focus is on the Petcare Segment:
          </p>
          <ul class="about_list">
            <li class="mb-2">India is one of the fastest growing pet care market in the world</li>
            <li class="mb-2">Growth is recorded in all categories including pet food, pharmaceuticals, grooming, toys
              and accessories</li>
          </ul>
          <p class="font-weight-bold ">
            Mission:
          </p>
          <ul class="about_list">
            <li class="mb-2">Mission is to create our presence all over India as a best quality brand. The brand has to
              become familiar with the
              support of innovative and creative marketing strategies.</li>
          </ul>
          <p class="font-weight-bold ">
            Vision:
          </p>
          <ul class="about_list">
            <li class="mb-2">Our vision is to be the best reliable brand in this segment across the world and to launch
              wide range of finest quality
              products to retail markets all over the world.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ----------------------------about  end---------------------------- -->
<!-- ---------------------why choose us start--------------------- -->
<section class="about_choose">
  <div class="container">
    <h3 class="hd_font text-center cm_hd font-weight-bold mb-3">
      Why Choose Us
    </h3>
    <p class="text-center mb-5">
      PetPatrol packed with nutritious ingredients, vitamins and supplements to
      help dogs.
    </p>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 choose_col my-3">
        <div class="media">
          <img class="mr-3" src="assets/img/abt-icon1.png" alt="Generic placeholder image" />
          <div class="media-body">
            <h4 class="mt-0 font-weight-bold">Pet Nutritionists</h4>
            <p>
              Our in-house pet nutritionists play a crucial role in the creation
              of Kreme dog and cat food
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 choose_col my-3">
        <div class="media">
          <img class="mr-3" src="assets/img/abt-icon2.png" alt="Generic placeholder image" />
          <div class="media-body">
            <h4 class="mt-0 font-weight-bold">Quality &amp; Safety</h4>
            <p>
              We own and run operations in all of the facilities in which our
              dry food is made.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 choose_col my-3">
        <div class="media">
          <img class="mr-3" src="assets/img/abt-icon3.png" alt="Generic placeholder image" />
          <div class="media-body">
            <h4 class="mt-0 font-weight-bold">Health &amp; Well-Being</h4>
            <p>
              Just as important as what we put into our Kreme recipes is what
              your pet gets...!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ---------------------why choose us end--------------------- -->

<app-featured-blogs></app-featured-blogs>
