<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Our Blogs</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Blog</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>

<!-- ----------------------------inner banner end---------------------------- -->

<!------------------------------------blog star---------------------------------- -->
<section class="blog_bg">
  <div class="container">
    <h3 class="text-center hd_font cm_hd font-weight-bold mb-5">Pet Care Blogs</h3>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 blog_col">
        <div class="blog_card card border-0">
          <div class="blog_img position-relative">
            <div class="prd_ofr">
              <p class="mb-0">10</p>
              <h4 class="mb-0">Mar</h4>
            </div>
            <img src="assets/img/blog1.jpg" class="img-fluid w-100" alt="blog image">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold">what age should i start getting my puppy groomed ?</h4>
            <p class="mb-0">If you’re wondering ‘what age should I start getting my puppy groomed,’ the following
              information
              should help you.
              First, congrats on the newest member of the family!Having a new puppy in the house is a wonderful time to
              explore a fun
              and engaging relationship </p>
            <a routerLink="../" type="button" class="btn btn_shop_now my-3 my-md-3">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 blog_col">
        <div class="blog_card card border-0">
          <div class="blog_img position-relative">
            <div class="prd_ofr">
              <p class="mb-0">14</p>
              <h4 class="mb-0">May</h4>
            </div>
            <img src="assets/img/blog2.jpg" class="img-fluid w-100" alt="blog image">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold">Cat Health – Keeping Them Purr-fect</h4>
            <p class="mb-0">Cats are extremely agile and active pets known for their curiosity. For this reason, many
              humans
              find they are easily
              humored by the feline species’ innate sense of independence, and enjoy spending time with these furry
              little
              beholders
              of big personalities. </p>
            <a routerLink="../" type="button" class="btn btn_shop_now my-3 my-md-3">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 blog_col">
        <div class="blog_card card border-0">
          <div class="blog_img position-relative">
            <div class="prd_ofr">
              <p class="mb-0">20</p>
              <h4 class="mb-0">May</h4>
            </div>
            <img src="assets/img/blog3.jpg" class="img-fluid w-100" alt="blog image">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold">10 Foods You Can Share with Your Dog</h4>
            <p class="mb-0">Does your dog beg for a taste of what you're cooking, constantly eyeball the fridge or
              conveniently place themselves
              nearby at mealtimes?Don't worry, we find it hard to resist puppy-dog eyes too. Make sure you know which
              foods
              are safe
              (and healthy!) to feed your dog </p>
            <a routerLink="../" type="button" class="btn btn_shop_now my-3 my-md-3">Read More</a>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!------------------------------------blog en---------------------------------- -->
