<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Register</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Register</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!------------------------------ register start---------------------------- -->
<section class="loging_section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 col-12 login_col">
        <div class="card login_card border-0">
          <div class="card-body">
            <div class="position-relative login_bg_hd">
              <h4 class="hd_font under_line_hd login_hd mb-0">Create an Account</h4>
              <a routerLink="../login">
                <h5 class="mb-0 reg-right text-secondary">Login</h5>
              </a>
            </div>
            <form [formGroup]="RegisterForm">
              <div class="form-group mt-4 mt-md-5">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="firstName">
              </div>
              <div class="form-group mt-4 mt-md-5">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
              <div class="form-group mt-4 mt-md-5">
                <label>Your Mobile No.</label>
                <input type="text" class="form-control" maxlength=10
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  formControlName="number">
              </div>
              <div class="form-group mt-4 mt-md-5">
                <button type="submit" class="btn btn_login w-100 hd_font font-weight-bold" (click)="regOTP()">Get
                  OTP</button>
                <h6 style="padding-left: 40px;">{{otpMsg}}</h6>
              </div>
              <p class="text-danger" *ngIf="error2 === 'already registered number'">This mobile number is already in
                use.</p>

              <div class="form-group mt-4 mt-md-5">
                <label>OTP</label>
                <input type="text" class="form-control" maxlength=6
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  formControlName="OTP">
              </div>
              <p class="text-danger" *ngIf="message === 'OTP is wrong'">Invalid OTP</p>

              <div class="form-group mt-4 mt-md-5">
                <button type="submit" class="btn btn_login w-100 hd_font font-weight-bold" (click)="register()">Create
                  Account</button>
              </div>
              <a routerLink="/login">
                <p class="mb-0 text-center font-weight-bold">Already have an account?</p>
              </a>
              <!-- <div class="form-group mt-4 mt-md-5">
                <button type="submit" class="btn btn_login_line w-100 hd_font font-weight-bold" routerLink="/login">Sig
                  In</button>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------------ register product end---------------------------- -->
