<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Privacy Policy</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Privacy Policy</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!-- -------------------------Check out start------------------------- -->
<section class="account_bg">
  <div class="container">
    <div _ngcontent-ukr-c47="" class="row">
      <div _ngcontent-ukr-c47="" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3">
        <h5 _ngcontent-ukr-c47="">This Privacy page describes the privacy policies that apply to petpatrol.co.in. The
          personal
          information/data provided to us by you during the course of usage of petpatrol.co.in will be treated as
          strictly
          confidential and in accordance with our privacy policies and applicable laws and regulations. If you object to
          your information being transferred or used, please do not use the website. </h5>
        <h5 _ngcontent-ukr-c47="">We respect your privacy and are committed to protecting personally identifiable
          information you may provide us through petpatrol.co.in. We have adopted this privacy policies to explain what
          information may be collected on our petpatrol.co.in, how we use this information, and under what circumstances
          we
          may
          disclose the information to third parties. This privacy policy applies only to information we collect through
          petpatrol.co.in and does not apply to our collection of information from other sources. </h5>
        <h5 _ngcontent-ukr-c47="">This privacy policy, together with the Terms &amp; Conditions, set forth the general
          rules
          and policies governing your use of petpatrol.co.in. Depending on your activities when visiting
          petpatrol.co.in,
          you
          may
          be required to agree to additional Terms &amp; Conditions. </h5>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Advertisements</h4>
        <p _ngcontent-ukr-c47="">Ads appearing on our website may be delivered to users by advertising partners, who may
          set
          cookies. These cookies allow the ad server to recognize your computer each time they send you an online
          advertisement to compile information about you or others who use your computer. This information allows ad
          networks to, among other</p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Aggregated Statistics</h4>
        <p _ngcontent-ukr-c47="">petpatrol.co.in may collect statistics about the behaviour of visitors to its website.
          petpatrol.co.in may display this information publicly or provide it to others. However, petpatrol.co.in does
          not
          disclose
          your personally-identifying information.</p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Amendments to Privacy Policy</h4>
        <p _ngcontent-ukr-c47="">petpatrol.co.in may amend its privacy policy on a discretionary basis. petpatrol.co.in
          encourages
          visitors to frequently check this page for any changes to its privacy policy. Your continued use of this site
          after any change in this Privacy Policy will constitute your acceptance of such change.</p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Business Transfers</h4>
        <p _ngcontent-ukr-c47="">If petpatrol.co.in, or substantially all of its assets, were acquired, or in the
          unlikely
          event
          that petpatrol.co.in goes out of business or enters bankruptcy, user information would be one of the assets
          that
          is
          transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer
          of
          petpatrol.co.in may continue to use your personal information as set forth in this policy.</p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Cookies</h4>
        <p _ngcontent-ukr-c47="">To enrich and perfect your online experience, petpatrol.co.in uses "Cookies", similar
          technologies and services provided by others to display personalized content, appropriate advertising and
          store
          your preferences on your computer.</p>
        <p _ngcontent-ukr-c47="">A cookie is a string of information that a website stores on a visitor's computer, and
          that
          the visitor's browser provides to the website each time the visitor returns. petpatrol.co.in uses cookies to
          help
          petpatrol.co.in identify and track visitors’ usage and their preferences. petpatrol.co.in visitors who do not
          wish to
          have
          cookies placed on their computers should set their browsers to refuse cookies before using petpatrol.co.in's
          websites,
          with the drawback that certain features of petpatrol.co.in may not function properly without the aid of
          cookies.
        </p>
        <p _ngcontent-ukr-c47="">By continuing to navigate petpatrol.co.in without changing your cookie settings, you
          hereby
          acknowledge and agree to petpatrol.co.in's use of cookies.</p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">E-commerce</h4>
        <p _ngcontent-ukr-c47="">If petpatrol.co.in, or substantially all of its assets, were acquired, or in the
          unlikely
          event
          that petpatrol.co.in goes out of business or enters bankruptcy, user information would be one of the assets
          that
          is
          transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer
          of
          petpatrol.co.in may continue to use your personal information as set forth in this policy.</p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Links to External Sites</h4>
        <p _ngcontent-ukr-c47="">petpatrol.co.in may contain links to external sites that are not operated by us. If you
          click
          on a third party link, you will be directed to that third party's site. We strongly advise you to review the
          privacy policy and terms and conditions of every site you visit.</p>
        <p _ngcontent-ukr-c47="">We have no control over, and assume no responsibility for the content, privacy policies
          or
          practices of any third party sites, products or services.</p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Personally Identifying Information</h4>
        <p _ngcontent-ukr-c47="">Certain visitors to petpatrol.co.in's websites choose to interact with petpatrol.co.in
          in ways
          that
          require petpatrol.co.in to gather personally-identifying information. The amount and type of information that
          petpatrol.co.in gathers depends on the nature of the interaction.</p>
        <p _ngcontent-ukr-c47="">petpatrol.co.in discloses personally identifying information only to those of its
          employees,
          contractors and affiliated organizations that (i) need to know that information in order to process it on
          petpatrol.co.in's behalf or to provide services available at petpatrol.co.in's website, and (ii) that have
          agreed not
          to
          disclose it to others. Some of those employees, contractors and affiliated organizations may be located
          outside of
          your home country; by using petpatrol.co.in's website, you consent to the transfer of such information to
          them.
          petpatrol.co.in will not rent or sell potentially personally-identifying and personally-identifying
          information to
          anyone. Other than to its employees,</p>
        <p _ngcontent-ukr-c47="">If you are a registered user of petpatrol.co.in and have supplied your email address,
          petpatrol.co.in may occasionally send you an email to tell you about new features, solicit your feedback, or
          just
          keep
          you up to date with what's going on with petpatrol.co.in and our products. If you send us a request, we
          reserve
          the
          right to publish it in order to help us clarify or respond to your request or to help us support other users.
          petpatrol.co.in takes all measures reasonably necessary to protect against the unauthorized access, use,
          alteration or
          destruction of personally identifying information. </p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Security</h4>
        <p _ngcontent-ukr-c47="">The security of your personal information is important to us, however we express that
          no
          method of transmission over the Internet, or method of electronic storage is fully secure. While we strive to
          use
          commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
        </p>
        <h4 _ngcontent-ukr-c47="" class="font-weight-bold">Website Visitors</h4>
        <p _ngcontent-ukr-c47="">Like most website operators, petpatrol.co.in collects non-personally-identifying
          information of
          the sort that web browsers and servers typically make available, such as the browser type, language
          preference,
          referring site, and the date and time of each visitor request. petpatrol.co.in's purpose in collecting
          non-personally
          identifying information is to better understand petpatrol.co.in's usage. From time to time, petpatrol.co.in
          may
          release
          non-personally-identifying information in the aggregate. </p>
        <p _ngcontent-ukr-c47="">petpatrol.co.in also collects potentially personally-identifying information like
          Internet
          Protocol (IP) addresses for logged in users and for users leaving comments on petpatrol.co.in. petpatrol.co.in
          only
          discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses
          personally-identifying information as described below.</p>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------Check out end------------------------- -->
