<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Wish List</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Wish List</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!-- -------------------------wishlist start------------------------- -->
<section class="account_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 Cart_col my-3 my-md-3">
        <div class="table-responsive">
          <table class="table cart_table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="hd_font">Products</th>
                <th scope="col" class="hd_font">Price</th>
                <!-- <th scope="col" class="hd_font">Add to Cart</th> -->
                <th scope="col" class="hd_font">Remove</th>
              </tr>
            </thead>
            <tbody *ngFor="let prd of products">
              <tr>
                <td scope="row" routerLink="/products/{{prd.product_id_id}}">
                  <div class="media cart_tb_media">
                    <div class="cat_md_img">
                      <img class="mr-3" src="{{prd.product_image}}" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <p class="mb-0">{{prd.name}}</p>
                    </div>
                  </div>
                </td>
                <td>{{prd.price|currency:'INR'}}</td>
                <!-- <td>
                  <a>
                    <img src="assets/img/plus.png" style="    height: 20px;
    width: 20px;" class="img-fluid" alt="add">
                  </a>
                </td> -->
                <td (click)="delete(prd)">
                  <a>
                    <img src="assets/img/cancel.png" class="img-fluid" alt="delete">
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 Cart_col my-3 my-md-3 text-md-right">
        <button type="button" class="btn btn_banner my-3 my-md-3 hd_font font-weight-bold mr-md-3"
          routerLink="/products">Continue
          Shopping</button>
        <!-- <button type="button" class="btn btn_yellow_fm my-3 my-md-3 hd_font font-weight-bold">Update Cart</button> -->
      </div>
    </div>
  </div>
</section>
<!-- -------------------------Wishlist end------------------------- -->
