<!-- ---------------------------banner start--------------------------- -->
<section class="banner_bg">
  <div class="container">
    <div class="row banner_row align-items-center">
      <div class="col-xl-5 col-lg-10 col-md-12 col-sm-12 col-12 banner_text_col my-3 my-md-3">
        <div class="owl-carousel owl-theme owl-loaded owl-drag" id="bannerslide">


          <div class="owl-stage-outer">
            <div class="owl-stage"
              style="transform: translate3d(-1777px, 0px, 0px); transition: all 0.25s ease 0s; width: 3555px;">
              <div class="owl-item cloned" style="width: 582.5px; margin-right: 10px;">
                <div class="item">
                  <div class="cover">
                    <div class="header-content">
                      <div class="line"></div>
                      <h4 class="text-white">We Make your pets happy</h4>
                      <h1 class="hd_font text-white">Find the best products for your pet</h1>
                      <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products">Shop Now</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 582.5px; margin-right: 10px;">
                <div class="item">
                  <div class="cover">
                    <div class="header-content">
                      <div class="line animated bounceInLeft"></div>
                      <h4 class="text-white">We Make your pets happy</h4>
                      <h1 class="hd_font text-white">Find the best products for your pet</h1>
                      <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products">Shop Now</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 582.5px; margin-right: 10px;">
                <div class="item">
                  <div class="cover">
                    <div class="header-content">
                      <div class="line"></div>
                      <h4 class="text-white">We Make your pets happy</h4>
                      <h1 class="hd_font text-white">Find the best products for your pet</h1>
                      <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products">Shop Now</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 582.5px; margin-right: 10px;">
                <div class="item">
                  <div class="cover">
                    <div class="header-content">
                      <div class="line animated bounceInLeft"></div>
                      <h4 class="text-white">We Make your pets happy</h4>
                      <h1 class="hd_font text-white">Find the best products for your pet</h1>
                      <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products">Shop Now</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 582.5px; margin-right: 10px;">
                <div class="item">
                  <div class="cover">
                    <div class="header-content">
                      <div class="line"></div>
                      <h4 class="text-white">We Make your pets happy</h4>
                      <h1 class="hd_font text-white">Find the best products for your pet</h1>
                      <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products">Shop Now</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 582.5px; margin-right: 10px;">
                <div class="item">
                  <div class="cover">
                    <div class="header-content">
                      <div class="line animated bounceInLeft"></div>
                      <h4 class="text-white">We Make your pets happy</h4>
                      <h1 class="hd_font text-white">Find the best products for your pet</h1>
                      <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products">Shop Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span
                aria-label="Next">›</span></button></div>
          <div class="owl-dots disabled"></div>
        </div>
      </div>
    </div>
    <div class="banner_img_col">
      <div class="banner_img">
        <img src="assets/img/banner-img.png" class="img-fluid van_right" width="100%" alt="bnr_van">
      </div>
    </div>
  </div>
</section>
<!-- ---------------------------banner end--------------------------- -->
<!-- ----------------------------offer start---------------------------- -->
<section class="offer_bg">
  <div class="left_offer mob">
    <img src="assets/img/left-top.png" class="img-fluid" alt="left image">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 my-md-2 aos-init aos-animate" data-aos="zoom-in-up">
        <a href="">
          <img src="assets/img/offer1.png" class="img-fluid w-100" alt="offer image">
        </a>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 my-md-2 aos-init aos-animate" data-aos="zoom-in-up">
        <a href="">
          <img src="assets/img/offer2.png" class="img-fluid w-100" alt="offer image">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ----------------------------offer end---------------------------- -->
<!-- -------------------------different food start------------------------- -->
<section class="differ_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-3 dog_fd_left_col">
        <div class="food_box text-center">
          <img src="assets/img/food-box.png" class="img-fluid" alt="image">
        </div>
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 aos-init aos-animate" data-aos="fade-right"
            data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/dog.png" class="img-fluid" alt="image">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 text-center text-md-right">
            <h3 class="mb-0 font-weight-bold hd_font">Our Dog Food</h3>
            <p class="mb-0">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. </p>
            <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="product">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-3 dog_fd_left_col">
        <div class="food_box text-center">
          <img src="assets/img/food-box.png" class="img-fluid" alt="image">
        </div>
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 text-center text-md-left">
            <h3 class="mb-0 font-weight-bold hd_font">Our Cat Food</h3>
            <p class="mb-0">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. </p>
            <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="product">Shop Now</button>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 aos-init aos-animate" data-aos="fade-left"
            data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/cat.png" class="img-fluid" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------different food end------------------------- -->
<app-featured-products></app-featured-products>

<!-- ------------------------------special offer start------------------------------ -->
<section class="special-offer">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-5 text-center">
        <a href="">
          <img src="assets/img/special-offer.png" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ------------------------------special offer end------------------------------ -->
<!-- -------------------------------Categories start------------------------------- -->
<section class="Categories_bg">
  <div class="container">
    <h3 class="text-center hd_font cm_hd font-weight-bold mb-5">Shop by Categories</h3>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3">
        <div class="owl-carousel owl-theme owl-loaded owl-drag" id="Categories">
          <div class="owl-stage-outer">
            <div class="owl-stage"
              style="transform: translate3d(-960px, 0px, 0px); transition: all 0.25s ease 0s; width: 2880px;">
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr1.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Pet toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr2.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Cat toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr3.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Dog Toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr4.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Dogs bed</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr5.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">All accessories</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item active" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr1.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Pet toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item active" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr2.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Cat toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item active" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr3.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Dog Toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item active" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr4.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Dogs bed</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item active" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr5.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">All accessories</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr1.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Pet toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr2.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Cat toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr3.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Dog Toys</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr4.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">Dogs bed</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 162px; margin-right: 30px;">
                <div class="categories_card card bg-transparent border-0 text-center my-3 item">
                  <a href="">
                    <div class="categories_img">
                      <img src="assets/img/ctr5.png" class="img-fluid" alt="categories img">
                    </div>
                    <div class="card-body">
                      <p class="mb-0 font-weight-bold">All accessories</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span
                aria-label="Next">›</span></button></div>
          <div class="owl-dots disabled"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------------Categories end --------------------------------->
<app-featured-blogs></app-featured-blogs>
