<!-- ---------------------------banner start--------------------------- -->
<section class="banner_bg">
  <div class="container">
    <div class="row banner_row align-items-center">
      <div class="col-xl-5 col-lg-10 col-md-12 col-sm-12 col-12 banner_text_col my-3 my-md-3">
        <owl-carousel-o [options]="customOptions" id="testimonial">
          <ng-container>
            <ng-template carouselSlide>
              <div class="item">
                <div class="cover">
                  <div class="header-content">
                    <div class="line"></div>
                    <h4 class="text-white">We Make your pets happy</h4>
                    <h1 class="hd_font text-white">Patrolling soon… For orders/queries contact 07736004555 or write us
                      to support@petpatrol.co.in</h1>
                    <a type="button" routerLink="products" class="btn btn_banner my-3 my-md-3">Shop Now</a>
                  </div>
                </div>
              </div>
            </ng-template>

          </ng-container>
          <ng-container>
            <ng-template carouselSlide>
              <div class="item">
                <div class="cover">
                  <div class="header-content">
                    <div class="line"></div>
                    <h4 class="text-white">We Make your pets happy</h4>
                    <h1 class="hd_font text-white">Patrolling soon… For orders/queries contact 07736004555 or write us
                      to support@petpatrol.co.in</h1>
                    <a type="button" routerLink="products" class="btn btn_banner my-3 my-md-3">Shop Now</a>
                  </div>
                </div>
              </div>
            </ng-template>

          </ng-container>

        </owl-carousel-o>
      </div>
    </div>
    <div class="banner_img_col">
      <div class="banner_img">
        <img src="assets/img/banner-img.png" class="img-fluid van_right" width="100%" alt="bnr_van">
      </div>
    </div>
  </div>
</section>
<!-- ---------------------------banner end--------------------------- -->
<!-- ----------------------------offer start---------------------------- -->
<section class="offer_bg">
  <div class="left_offer mob">
    <img src="assets/img/left-top.png" class="img-fluid" alt="left image">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 my-md-2 aos-init aos-animate" data-aos="zoom-in-up">
        <a routerLink="products">
          <img src="../../../assets/img/offer1_out.png" class="img-fluid w-100" alt="offer image">
        </a>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 my-md-2 aos-init aos-animate" data-aos="zoom-in-up">
        <a routerLink="products">
          <img src="../../../assets/img/offer2_back.png" class="img-fluid w-100" alt="offer image">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ----------------------------offer end---------------------------- -->
<!-- -------------------------different food start------------------------- -->
<section class="differ_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-3 dog_fd_left_col">
        <div class="food_box text-center">
          <img src="assets/img/food-box.png" class="img-fluid" alt="image">
        </div>
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 aos-init aos-animate" data-aos="fade-right"
            data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/dog.png" class="img-fluid" alt="image">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 text-center text-md-right">
            <h3 class="mb-0 font-weight-bold hd_font">Our Dog Food</h3>
            <p class="mb-0">Fresh food that delivers nutritions for your doggy pet. </p>
            <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products" [queryParams]="{
                                  animal_category: dogCategory,
                                  service_category: null,
                                  service_subcategory: null,
                                  packaging_type: null,
                                  min_price: null,
                                  max_price: null
                                }" queryParamsHandling="merge">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-3 dog_fd_left_col">
        <div class="food_box text-center">
          <img src="assets/img/food-box.png" class="img-fluid" alt="image">
        </div>
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 text-center text-md-left">
            <h3 class="mb-0 font-weight-bold hd_font">Our Cat Food</h3>
            <p class="mb-0">Mouthwatering entrees your kitten loves with cat food variety pack. </p>
            <button type="button" class="btn btn_banner my-3 my-md-3" routerLink="products" [queryParams]="{
                                  animal_category: catCategory,
                                  service_category:null,
                                  service_subcategory: null,
                                  packaging_type: null,
                                  min_price: null,
                                  max_price: null
                                }" queryParamsHandling="merge">Shop Now</button>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 aos-init aos-animate" data-aos="fade-left"
            data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/cat.png" class="img-fluid" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------different food end------------------------- -->
<app-featured-products></app-featured-products>

<!-- ------------------------------special offer start------------------------------ -->
<section class="special-offer">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-5 text-center">
        <a routerLink="products" [queryParams]="{
                                  animal_category: dogCategory,
                                  service_category: null,
                                  service_subcategory: null,
                                  packaging_type: null,
                                  min_price: null,
                                  max_price: null
                                }" queryParamsHandling="merge">
          <img src="assets/img/special-offer1.png" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ------------------------------special offer end------------------------------ -->

<app-testimonial></app-testimonial>
<app-featured-blogs></app-featured-blogs>
