<!-- -----------------------testimonial start----------------------- -->
<section class="testimonial_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 testi_left_col my-3 my-md-3">
        <div class="testi_img" data-toggle="modal" data-target="#Distributor">
          <img src="assets/img/distibitor.png" class="img-fluid texti_img" alt="testi image">
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 testi_right_col my-3 my-md-3">
        <h4 class="hd_font font-weight-bold">Our Client Say's</h4>
        <owl-carousel-o [options]="customOptions" id="testimonial">
          <ng-container>
            <ng-template carouselSlide *ngFor="let testimonial of testimonials$ | async">
              <div class="card testi_card border-0 item">
                <div class="card-body text-center">
                  <div class="review_content">
                    <p>{{ testimonial.review }}</p>
                    <h5 class="font-weight-bold">{{ testimonial.customerid }}</h5>
                  </div>
                </div>
                <div class="user_img">
                  <img src="assets/img/user1.png" class="img-fluid" alt="user image">
                </div>
              </div>
            </ng-template>

          </ng-container>
          <!-- <ng-container>
            <ng-template carouselSlide>
              <div class="card testi_card border-0 item">
                <div class="card-body text-center">
                  <div class="review_content">
                    <p>Petpatrol adult dog food is the new favourite of my Puppy.. </p>
                    <h5 class="font-weight-bold">George Wash</h5>
                  </div>
                </div>
                <div class="user_img">
                  <img src="assets/img/user1.png" class="img-fluid" alt="user image">
                </div>
              </div>
            </ng-template>

          </ng-container> -->

        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- -----------------------testimonial end----------------------- -->

<!-- Distributor Modal start-->
<div class="modal fade" id="Distributor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title hd_font font-weight-bold" id="exampleModalLongTitle">Become A Distributor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="distributorForm">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 modal_col">
              <div class="form-group">
                <label class="font-weight-bold">Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 modal_col">
              <div class="form-group">
                <label class="font-weight-bold">Email</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 modal_col">
              <div class="form-group">
                <label class="font-weight-bold">Mobile number</label>
                <input type="text" class="form-control" formControlName="mobile" maxlength=10
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 modal_col">
              <button type="button" class="btn btn_yellow_fm my-3 my-md-3" (click)="contactMail(closeBtn)">Apply
                now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Distributor Modal  end-->
