<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Our Products</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Shop</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!------------------------------ shop product start---------------------------- -->
<section class="shop_bg position-relative">
  <img src="assets/img/bg-trans.png" class="img-fluid shop_top_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 order-md-2 order-sm-1 order-1">
        <div class="card border-0">
          <div class="card-body py-0">
            <h4 class="font-weight-bold hd_font under_line_hd mb-4">Product Categories</h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Cat Food</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Dog Food</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Uncategorized</a>
              </li>
            </ul>
            <h4 class="font-weight-bold hd_font under_line_hd my-4">Packaging Type</h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Can</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Tray</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Roll</a>
              </li>
            </ul>
            <h4 class="font-weight-bold hd_font under_line_hd my-4">Price</h4>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked="">
              <label class="form-check-label" for="exampleRadios1">
                Less than ₹200
              </label>
            </div>
            <div class="form-check my-3">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                ₹200 to 300
              </label>
            </div>
            <div class="form-check my-3">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
              <label class="form-check-label" for="exampleRadios3">
                ₹300 to 400
              </label>
            </div>
            <div class="form-check my-3">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
              <label class="form-check-label" for="exampleRadios4">
                ₹400 to 500
              </label>
            </div>
            <!-- <div class="form-check my-3">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
              <label class="form-check-label" for="exampleRadios5">
                ₹500 to 600
              </label>
            </div> -->
            <div class="form-check my-3">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6">
              <label class="form-check-label" for="exampleRadios6">
                ₹500 &amp; Above
              </label>
            </div>
            <div class="my-5">
              <a href="">
                <img src="assets/img/offer-shop1.png" class="img-fluid" alt="offer image">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-12 order-md-1 order-sm-12 order-2">
        <div class="shop_card">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-12 mb-4">
              <p class="mb-0 font-weight-bold">Showing 1–6 of 16 results</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
              <form>
                <div class="form-group">
                  <select class="form-control">
                    <option>Sort By Popularity</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </form>
            </div>
            <div *ngFor="let product of products$ | async"
              class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12product_col my-3 my-md-3">
              <div class="card product_card">
                <div class="pd_imag">
                  <span class="pd_off_tag">{{ product.offertitle | titlecase }}</span>
                  <img [src]="product.thumbnail_img" class="img-fluid product_image" alt="product image">
                </div>
                <div class="card-body prduct_body text-center">
                  <p class="mb-0 font-weight-bold shop_ht">{{ product.name }}</p>
                  <p class="mb-0">
                    <small *ngIf="product.actualPrice">
                      <span class="text-muted mr-2"><s>{{ product.actualPrice | currency: 'INR' }}</s></span>
                    </small>
                    <span class="text-danger font-weight-bold">
                      {{ product.price | currency: 'INR' }}
                    </span>
                  </p>
                  <button [routerLink]="[product.id]" type="button" class="btn btn_shop_now my-3 my-md-3">Shop
                    Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/img/bg-trans.png" class="img-fluid shop_bottom_bg">
</section>
