<section class="">
  <div class="container">
    <div class="row" style="padding-top: 50px;">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 comm_banner_col text-center">
        <div class="sucess-message my-3">
          <div class="message_icon">
            <!-- <img src="assets/img/sucess.png" class="" height="200"> -->
          </div>
          <h1 class="font-weight-bold head_font-family head_font">Watch this place.
            Awesome offers are on the way.</h1>
          <!-- <p class="text-uppercase">Watch this place.
            Awesome offers are on the way.</p> -->
          <!-- <button type="button" class="btn btn_common" routerLink="/products">Continue Shopping</button> -->
          <a _ngcontent-pau-c45="" type="button" routerlink="products" class="btn btn_banner my-3 my-md-3"
            href="/products">Continue Shopping</a>
        </div>

        <!-- <div class="unsucess-message my-3">
          <div class="message_icon">
            <img src="assets/img/sad.png" class="" height="200">
          </div>
          <h1 class="font-weight-bold head_font-family head_font">Order Failed</h1>
          <p class="text-uppercase">We were unable to process your order.</p>
          <button type="button" class="btn btn_common" routerLink="/products">Back to Home</button>
        </div> -->


      </div>
    </div>
  </div>
</section>
