<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Checkout</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Checkout</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!-- -------------------------Check out start------------------------- -->
<section class="account_bg">
  <div class="container">
    <div class="row my-5 justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 order_track_col">
        <div class="media">
          <span class="step_load mr-3 active">1</span>
          <div class="media-body">
            <p class="mb-0 hd_font font-weight-bold">Shopping Cart</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 order_track_col">
        <div class="media">
          <span class="step_load mr-3 active">2</span>
          <div class="media-body">
            <p class="mb-0 hd_font font-weight-bold">Payment &amp; Delivery Options</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 order_track_col">
        <div class="media">
          <span class="step_load mr-3">3</span>
          <div class="media-body">
            <p class="mb-0 hd_font font-weight-bold">Order Received</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 checkout_col_left my-3 my-md-3">
        <div class="card_personal">
          <h4 class="hd_font font-weight-bold mb-4">Billing details</h4>
          <app-address-form #addressForm *ngIf="formValues$ | async as formValues" [values]="formValues"
            [showSubmit]="false">
          </app-address-form>
        </div>

      </div>
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 checkout_col_right my-3 my-md-3">
        <h4 class="hd_font font-weight-bold mb-4">Your order</h4>
        <div class="check_side_card card border-0">
          <div class="card-body">
            <div class="row">
              <ng-container *ngFor="let item of cartItems; index as i">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 my-3 my-md-3 order_col">
                  <p class="mb-0">{{item.name}} X {{item.quantity}}</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 my-3 my-md-3 order_col text-md-right">
                  <p class="mb-0"> {{ item.total | currency: 'INR' }}</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <hr>
                </div>
              </ng-container>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 my-3 my-md-3 order_col">
                <p class="mb-0 font-weight-bold">Sub total</p>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 my-3 my-md-3 order_col text-md-right">
                <p class="mb-0 font-weight-bold">{{ TotPrice| currency: 'INR' }}</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 my-3 my-md-3 order_col">
                <p class="mb-0 font-weight-bold">Shipping Charges</p>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 my-3 my-md-3 order_col text-md-right">
                <p class="mb-0 font-weight-bold">{{ 0| currency: 'INR' }}</p>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 my-3 my-md-3 order_col">
                <h4 class="mb-0 font-weight-bold gr_color">Total</h4>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 my-3 my-md-3 order_col text-md-right">
                <h4 class="mb-0 font-weight-bold gr_color">{{ grandTotal | currency: 'INR' }}</h4>
              </div>
            </div>
          </div>
        </div>
        <h4 class="hd_font font-weight-bold my-4">Payment</h4>
        <div class="check_side_card card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3 my-md-3 order_col">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="COD"
                    [(ngModel)]="paymentMethod">
                  <label class="form-check-label font-weight-bold" for="exampleRadios1">
                    Cash on delivery
                  </label>
                </div>
                <p class="mb-0"><small>Pay with cash upon delivery.</small></p>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <hr>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3 my-md-3 order_col">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Online"
                    [(ngModel)]="paymentMethod">
                  <label class="form-check-label font-weight-bold" for="exampleRadios2">
                    Credit or Debit Card
                  </label>
                </div>
                <img src="assets/img/card.png" class="img-fluid" alt="card">
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <hr>
              </div>
              <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3 my-md-3 order_col">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Online">
                  <label class="form-check-label font-weight-bold" for="exampleRadios3">
                    <img src="assets/img/pay-pal.png" class="img-fluid" alt="card">
                  </label>
                </div>
              </div> -->
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3 my-md-3">
                <button type="button" class="btn btn_yellow_fm my-3 my-md-3 hd_font font-weight-bold"
                  (click)="placeOrder()" [disabled]="addressForm?.addressForm?.invalid">Place
                  order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------Check out end------------------------- -->
