<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Blog Detail</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0" routerLink="../blogs">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Blog</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!------------------------------------blog detail start---------------------------------- -->
<section class="blog_bg" *ngIf="blog$ | async as blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 my-3 blog_left_col">
        <div class="blog_detail_card">
          <h4 class="hd_font cm_hd font-weight-bold mb-5">{{blog[0].heading}}</h4>
          <img [src]="blog[0].thumb_Image" class="img-fluid my-3" alt="blog-detail">
          <p class="my-3"><small><i class="fa fa-calendar mr-1"
                aria-hidden="true"></i>{{blog[0].datefield|date:'MMM,dd,YYYY'}}</small>

          </p>
          <div [innerHTML]="blog[0].content"></div>

        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-3 blog_right_col">
        <div class="card recent_form my-2 my-md-3">
          <div class="card-body">
            <h4 class="blue_clr font-weight-bold">Latest Post</h4>

            <a [routerLink]="['/blogs/'+rblog.id]" *ngFor="let rblog of relatedBlogs$ | async|slice:-5">
              <!-- {{rblog.length}} -->
              <div class="media mb-3">
                <img class="align-self-center mr-3" [src]="rblog.thumb_Image" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">{{rblog.heading}}</p>
                </div>
              </div>
            </a>

            <!-- <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-1.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">The misleading cat’s nap!</p>
                </div>
              </div>
            </a>
            <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-2.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">The doberman at the beach</p>
                </div>
              </div>
            </a>
            <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-3.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">Integer at diam gravida purus</p>
                </div>
              </div>
            </a>
            <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-4.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">Donec quis ex vel tincidunt</p>
                </div>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------------------blog detail  end---------------------------------- -->
