<!-- ----------------------------inner banner start---------------------------- -->
<section class="comm_bnr_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 comm_banner_col">
        <h1 class="font-weight-bold hd_font text-white">Blog Detail</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-0" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0" routerLink="../blogs">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-0">Blog</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="sub_bnrt_img">
      <img src="assets/img/cat&amp;dog.png" class="img-fluid" alt="inner banner image">
    </div>
  </div>
  <img src="assets/img/inner-bnr-bottom.png" class="img-fluid comm_bnr_shape" width="100%" alt="shape">
</section>
<!-- ----------------------------inner banner end---------------------------- -->
<!------------------------------------blog detail start---------------------------------- -->
<section class="blog_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 my-3 blog_left_col">
        <div class="blog_detail_card">
          <h4 class="hd_font cm_hd font-weight-bold mb-5">Tips and tricks: Puppy’s First Grooming</h4>
          <img src="assets/img/blog-detail.jpg" class="img-fluid my-3" alt="blog-detail">
          <p class="my-3"><small><i class="fa fa-calendar mr-1" aria-hidden="true"></i>October 25, 2019</small> |
            <small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>London</small>
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
            magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
            dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
            dolore magnam aliquam quaerat voluptatem.</p>
          <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
            users after installed base benefits. Dramatically visualize customer directed convergence without
            revolutionary ROI.</p>
          <p class="font-weight-bold font-italic">" Efficiently unleash cross-media information without cross-media
            value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar
            solutions without functional solutions.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-3 blog_right_col">
        <div class="card recent_form my-2 my-md-3">
          <div class="card-body">
            <h4 class="blue_clr font-weight-bold">Latest Post</h4>
            <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-1.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">The misleading cat’s nap!</p>
                </div>
              </div>
            </a>
            <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-2.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">The doberman at the beach</p>
                </div>
              </div>
            </a>
            <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-3.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">Integer at diam gravida purus</p>
                </div>
              </div>
            </a>
            <a href="">
              <div class="media mb-3">
                <img class="align-self-center mr-3" src="assets/img/recent-4.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold text-dark mb-0">Donec quis ex vel tincidunt</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------------------blog detail  end---------------------------------- -->
