<!------------------------------------blog start---------------------------------- -->
<section class="blog_bg">
  <div class="container">
    <h3 class="text-center hd_font cm_hd font-weight-bold mb-5">Pet Care Blogs</h3>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 blog_col">
        <div class="blog_card card border-0">
          <div class="blog_img position-relative">
            <div class="prd_ofr">
              <p class="mb-0">10</p>
              <h4 class="mb-0">Mar</h4>
            </div>
            <img src="assets/img/blog1.jpg" class="img-fluid w-100" alt="blog image">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold">Tips and tricks: Puppy’s First Grooming</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 blog_col">
        <div class="blog_card card border-0">
          <div class="blog_img position-relative">
            <img src="assets/img/blog2.jpg" class="img-fluid w-100" alt="blog image">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold">Cat Health – Keeping Them Purr-fect</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-3 blog_col">
        <div class="blog_card card border-0">
          <div class="blog_img position-relative">
            <img src="assets/img/blog3.jpg" class="img-fluid w-100" alt="blog image">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold">14 Foods You Can Share with Your Dog</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3 my-md-3 text-center">
        <button type="button" class="btn btn_banner my-3 my-md-3">View All</button>
      </div>
    </div>
  </div>
</section>
<!------------------------------------blog end---------------------------------- -->
